body{
    background-color: rgb(248, 214, 255);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.calculadora{
    background-color:rgb(238, 171, 255);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(183, 0, 255) ;
}

#pantalla{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

.teclas{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
}

button{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:rgb(249, 226, 253);
    transition: bacground-color 0.2s;
}

button:hover{
    background-color:rgb(243, 195, 252);
}

button.igual{
    background-color:rgb(222, 94, 245);
    color: white;
    grid-row: span 2;
    grid-column: span 2;
}

button.cero{
    grid-column: span 2;
}


/* volvemos botón el eje para q se pueda mover el cuadrito */
button[tecla] { position: relative; }

/* El cuadrito emergente */
button[tecla]:hover::before {
    content: attr(tecla); /*attr extrae el atributo que esta en tecla osea lo q esta escrito*/
    position: absolute;
    bottom: 120%; left: 50%;
    transform: translateX(-50%);
    background: rgb(244, 185, 255); 
    color: #a521b6; 
    padding: 15px 15px;
    border-radius: 4px;
    font-size: 15px;
}