body{
    background-color: rgb(248, 214, 255);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.calculadora{
    background-color:rgb(238, 171, 255);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(183, 0, 255) ;
}

#pantalla{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

.teclas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

button{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:rgb(249, 226, 253);
    transition: bacground-color 0.2s;
}

button:hover{
    background-color:rgb(243, 195, 252);
}

button.igual{
    background-color:rgb(222, 94, 245);
    color: white;
    grid-row: span 2;
}

button.cero{
    grid-column: span 2;
}